global
    user haproxy
    group haproxy
defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms
frontend kubernetes
    bind *:{{ port }}
    option tcplog
    mode tcp
    default_backend kubernetes-master-nodes
backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
    {% for host in groups['k8s_master'] %}
    server {{ host }} {{ host }}:6443 check fall 3 rise 2
    {% endfor %}
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /