# Database administrative login by Unix domain socket
local   all             postgres                                password

# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     password
host    all             all             127.0.0.1/32            md5
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            md5
{% for host in groups['control'] %}
host    all             all             {{ host }}/24      password
{% endfor %}
{% for host in groups['k8s_node'] %}
host    all             all             {{ host }}/24      password
{% endfor %}
